<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0, minimal-ui">
	<title>rule</title>
	<link rel="stylesheet" href="static/css/style.css">
</head>
<body>
	<div class="content">
		<div class="vfriend vrule">
			<div>
				<span class="line"></span>
				<span class="dot"></span>
			</div>
			<div>
				活动规则
			</div>
			<div>
				<span class="dot"></span>
				<span class="line"></span>
			</div>
		</div>
		<div class="rulec">
			<div>
				一个人最多投三票
			</div>
			<div>
				只有注册用户才可以有权限投票
			</div>
			<div>
				一个帐号不能重复投给同一个人
			</div>
			<div>
				用户也可以将票投给自己
			</div>
		</div>
	</div>
</body>
</html>