<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0, minimal-ui">
	<title>搜索结果页</title>
	<link rel="stylesheet" href="static/css/style.css">
</head>
<body>
	<div class="content">
        <div class="lists">
            <div class="coming-box">
                <ul class="coming">
                    <li>
                        <div class="head">
                            <a href="#"><img src="static/images/girl.png" alt=""></a>
                        </div>
                        <div class="up">
                        	<div class="vote">
                        		<span>10票</span>
                        	</div>
                        	<div class="btn">
                        		投TA一票
                        	</div>
                        </div>
                        <div class="descr">
                            <h3>江疏影</h3>
                            <p>谁比我美？</p>
                        </div>
                    </li>
               		<li>
               		    <div class="head">
               		        <a href="#"><img src="static/images/boy.png" alt=""></a>
               		    </div>
               		    <div class="up">
               		    	<div class="vote">
               		    		<span>10票</span>
               		    	</div>
               		    	<div class="btn">
               		    		投TA一票
               		    	</div>
               		    </div>
               		    <div class="descr">
               		        <h3>胡歌</h3>
               		        <p>谁比我帅？</p>
               		    </div>
               		</li>
               		<li>
               		    <div class="head">
               		        <a href="#"><img src="static/images/girl.png" alt=""></a>
               		    </div>
               		    <div class="up">
               		    	<div class="vote">
               		    		<span>10票</span>
               		    	</div>
               		    	<div class="btn">
               		    		投TA一票
               		    	</div>
               		    </div>
               		    <div class="descr">
               		        <h3>江疏影</h3>
               		        <p>谁比我美？</p>
               		    </div>
               		</li>
               		<li>
               		    <div class="head">
               		        <a href="#"><img src="static/images/girl.png" alt=""></a>
               		    </div>
               		    <div class="up">
               		    	<div class="vote">
               		    		<span>10票</span>
               		    	</div>
               		    	<div class="btn">
               		    		投TA一票
               		    	</div>
               		    </div>
               		    <div class="descr">
               		        <h3>江疏影</h3>
               		        <p>谁比我美？</p>
               		    </div>
               		</li>
               		<li>
               		    <div class="head">
               		        <a href="#"><img src="static/images/girl.png" alt=""></a>
               		    </div>
               		    <div class="up">
               		    	<div class="vote">
               		    		<span>10票</span>
               		    	</div>
               		    	<div class="btn">
               		    		投TA一票
               		    	</div>
               		    </div>
               		    <div class="descr">
               		        <h3>江疏影</h3>
               		        <p>谁比我美？</p>
               		    </div>
               		</li>
               		<li>
               		    <div class="head">
               		        <a href="#"><img src="static/images/girl.png" alt=""></a>
               		    </div>
               		    <div class="up">
               		    	<div class="vote">
               		    		<span>10票</span>
               		    	</div>
               		    	<div class="btn">
               		    		投TA一票
               		    	</div>
               		    </div>
               		    <div class="descr">
               		        <h3>江疏影</h3>
               		        <p>谁比我美？</p>
               		    </div>
               		</li>
               		<li>
               		    <div class="head">
               		        <a href="#"><img src="static/images/girl.png" alt=""></a>
               		    </div>
               		    <div class="up">
               		    	<div class="vote">
               		    		<span>10票</span>
               		    	</div>
               		    	<div class="btn">
               		    		投TA一票
               		    	</div>
               		    </div>
               		    <div class="descr">
               		        <h3>江疏影</h3>
               		        <p>谁比我美？</p>
               		    </div>
               		</li>
               		<li>
               		    <div class="head">
               		        <a href="#"><img src="static/images/girl.png" alt=""></a>
               		    </div>
               		    <div class="up">
               		    	<div class="vote">
               		    		<span>10票</span>
               		    	</div>
               		    	<div class="btn">
               		    		投TA一票
               		    	</div>
               		    </div>
               		    <div class="descr">
               		        <h3>江疏影</h3>
               		        <p>谁比我美？</p>
               		    </div>
               		</li>
                </ul>
            </div>
        </div>
	</div>
</body>
</html>