<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0, minimal-ui">
	<title>个人主页</title>
	<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
</head>
<body>
	<div class="content">
		<div class="register_header" style="height: 200px;">
			<div class="personal">
				<!-- <div class="pl">
					<div class="head">
						<img src="/images/girl.png" alt="">
					</div>
					<div class="p_descr">
						<p>江疏影</p>
						<p>编号#10</p>
					</div>
				</div>
				<div class="pr">
					<div class="p_descr pr_descr">
						<p>1名</p>
						<p>20票</p>
					</div>
				</div>
				<div class="motto">
					谁能比我美？谁能比我美？
				</div> -->
			</div>
			<div class="home register">
				<a href="/vote/index">
					活动首页
				</a>
			</div>
		</div>
		<div class="register_content">
			<div class="vfriend">
				<div>
					<span class="line"></span>
					<span class="dot"></span>
				</div>
				<div>
					已投票的好友
				</div>
				<div>
					<span class="dot"></span>
					<span class="line"></span>
				</div>
			</div>
			<ul class="vflist coming">
				<!-- <li>
				    <div class="head">
				        <a href="#"><img src="/images/girl.png" alt=""></a>
				    </div>
				    <div class="up">
				    	<div class="vote">
				    		<span>投了一票</span>
				    	</div>
				    </div>
				    <div class="descr">
				        <h3>江疏影</h3>
				        <p>编号#20</p>
				    </div>
				</li>	 -->		
			</ul>
		</div>
	</div>
</body>
<script src="/javascripts/zepto.min.js"></script>
<script src="/javascripts/vote.js"></script>
</html>