<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title><%= title %></title>
<link href="stylesheets/bootstrap.min.css" rel="stylesheet" media="screen">
<link rel="stylesheet" type="text/css" href="stylesheets/style.css">
<style type="text/css">
	body {
		padding: 50px;
	}
	a {
		text-decoration: none;
		font-size: 3em;
	}
	a:hover {
		text-decoration: none;
		color: #363651;
	}
	p {
		margin: 50px 10px;
	}
</style>
</head>
<body screen_capture_injected="true">
