<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0, minimal-ui">
	<title>投票报名</title>
	<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
</head>
<body>
	<div class="content">
		<div class="register_header">
			<div class="title tada">
				<img src="/images/title.png" alt="">
			</div>	
		</div>
		<div class="register_item">
			<div class="reitems">
				<p class="refont">用户名:</p>
				<input type="text" class="reinput username" placeholder="请填写用户名">
			</div>
			<div class="reitems">
				<p class="refont">密码:</p>
				<input type="text" class="reinput password initial_password" placeholder="数字或字母不超过10个长度" maxlength="10">
			</div>
			<div class="reitems">
				<p class="refont">确认密码:</p>
				<input type="text" class="reinput password confirm_password" placeholder="数字或字母不超过10个长度" maxlength="10">
			</div>
			<div class="reitems">
				<p class="refont">手机号码:</p>
				<input type="text" class="reinput mobile" placeholder="请填写正确格式的手机号码">
			</div>
			<div class="reitems">
				<p class="refont">自我描述:</p>
				<input type="text" class="reinput descrption" placeholder="请填写自我描述（20字以内）" maxlength="20">
			</div>
			<div class="reitems">
				<p class="refont">性别:</p>
				<div class="gender">
					<div>
						<input type="radio" name="name" checked select="yes"/><span>男</span>
					</div>
				  	<div>
				  		<input type="radio" name="name" select="no"/><span>女</span>
				  	</div>
				</div>
			</div>
			<div class="rebtn">
				提交
			</div>
		</div>
		
	</div>
</body>
<script src="/javascripts/prefixfree.min.js"></script>
<script src="/javascripts/zepto.min.js"></script>
<script src="/javascripts/vote.js"></script>
</html>